body{
    text-align: center;
}

*{
    box-sizing: border-box;         
}

.navtop {
    background-color: #2f3947;
    height: 60px;
    width: 100%;
    border: 0;
}

.navtop div {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}
.navtop div h1, .navtop div a {
    display: inline-flex;
    align-items: center;
}
.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #eaebed;
    font-weight: normal;
}
.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c1c4c8;
    font-weight: bold;
}
.navtop div a i {
    padding: 2px 8px 0 0;
}
.navtop div a:hover {
    color: #eaebed;
}
#form form {
    width: 320px;
    background-color: #ffffff;
    /*box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);*/
    margin: 10px auto;
}

form input[type="text"],form input[type='number']{
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

form button{
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
#add-book {
  width:300px;
  height:50px;
  border-radius:5px;
  padding: 15px;
  margin-top: 20px;
  background-color: #3274d6;
  cursor: pointer;
  font-weight: bold;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}
button:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}
#bookDiv{
    flex:0 1 250px;
    background-color: black;
    color:white;
    border-radius: 3px;
    margin: 20px 20px;
    box-shadow: 0 0 30px -10px black
}
#bookinfo{
display:contents
}

#info-section{
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
}
#bookinfo p{
    color:chocolate;
}
#delete,#info-section button {
  margin-top: 10px;
  width:200px;
  height:30px;
  border-radius:5px;
  margin-bottom: 5px;
}
#add-book i{
    font-size: 30px;
    float:left;
    color: black;
}
