* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

html {
    transition: color 300ms, background-color 300ms;
}

html[data-theme='dark'] {
    background: #000;
    filter: invert(1) hue-rotate(180deg)
}

html[data-theme='dark'] img {
    filter: invert(1) hue-rotate(180deg)
}

.hide {
    display: none;
}

.show {
    display: block;
}

.header .about {
    font-size: x-large;
}

.container .books .row #book-info {
    background-color: beige;
    margin-top: 10px;
}

.darkmode {
    background-color: black;
    color: white
}